<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/viewpost.css" />
    <title>View Post</title>
  </head>
  <body>

    <div class="grid">
      <section id="title" class="ilabel">
        <p>Title</p>
        <br />
        <p>Csc 317</p>
      </section>
      <section id="author" class="ilabel">
        <p>Author</p>
        <br />
        <p>Siddharth Sankar</p>
      </section>
      <section id="time" class="ilabel">
        <p>Posted on <time>10:10</time></p>
      </section>
      <section id="image" class="ilabel">
        <img src="#.jpg" alt="Image posted by User" />
      </section>
    </div>
  </body>
</html>